version: '3.8'
services:
  mongo:
    image: mongo:6
    container_name: mongo_extremenotes
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  backend:
    build: ../backend
    container_name: extremenotes_backend
    environment:
      - MONGO_URL=mongodb://mongo:27017/extremenotes
      - PORT=4000
    ports:
      - "4000:4000"
    depends_on:
      - mongo

  frontend:
    build: ../frontend
    container_name: extremenotes_frontend
    ports:
      - "8080:80"
    depends_on:
      - backend

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana-oss:10.0.3
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana_data:/var/lib/grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus

volumes:
  mongo_data:
  grafana_data:
